<% layout("/layouts/bolierplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br><br>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="post" novalidate class="needs-validation">
        <div class="mb-3">
            <label 
                for="title" 
                class="form-label">
                Title
            </label>
            <input 
                name="listing[title]" 
                placeholder="Add a catchy title" 
                type="text" 
                class="form-control" required>
                <div class="valid-feedback">Title looks good!</div>
        </div >
        <div class="mb-3">
            <label 
                for="description" 
                class="form-label">
                Description
            </label>
            <textarea 
                name="listing[description]" 
                type="text"
                class="form-control" required> 
            </textarea>
              <div class="valid-feedback">Please Enter a short description</div>
        </div>
        <div class="mb-3">
             <label 
                for="image" 
                class="form-label">
                Image URL/Link
            </label>
            <input 
                name="listing[image]" 
                placeholder="enter image URL/Link"
                class="form-control" >
        </div>
        <div class="row">
             <div class="mb-3 col-md-4">
            <label 
                for="price" 
                class="form-label">
                Price
            </label>
            <input 
                name="listing[price]" 
                placeholder="1200"
                class="form-control" required>
                 <div class="invalid-feedback">Please Enter valid Price</div>
        </div>
        <div class="mb-3 col-md-8">
            <label 
                for="location"  
                class="form-label">
                Location
            </label>
              <input 
                name="listing[location]" 
                placeholder="Pune,Pimpri-Chinchawad" 
                type="text"
                class="form-control" required>
                <div class="invalid-feedback">Enter valid Location</div>
        </div>
        </div>
       
       <div class="mb-3">
              <label 
                for="country"  
                class="form-label">
                Country
            </label>
             <input 
                name="listing[country]" 
                placeholder="India" 
                type="text"
                class="form-control" required>
                <div class="invalid-feedback">Enter valid Country</div>
       </div>
       <br>
        <button class="mb-3 btn btn-dark add-btn">Add</button>
    </form>


</div>
</div>
